<!DOCTYPE html>

<html>

    <head>
        <link rel="stylesheet" href='./css/styles.css' >
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    </head>

    <body>
        <nav>
            <div class="nav-wrapper grey lighten-2">
              <a href="" class="brand-logo"> <img src='../img/logo.png' width="90"/></a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="./search.html">Search</a></li>
              </ul>
            </div>
        </nav>
        <img id="landingImg" src='https://www.metmuseum.org/-/media/images/about-the-met/curatorial-departments/photographs/photographs_marquee.jpg?as=1&la=en&mh=1880&mw=4640&hash=F48787F1D89493498DDA58C8306339B8' />
    </body>

</html>